<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="tb" class="com.yq.springframework.test.Sample.beans.TestBean" >
        <property name="id" value="1000" />
        <property name="name" value="ZDK" />
    </bean>
    <bean id="tbp" class="com.yq.springframework.test.Sample.beans.TestBeanPlus">
        <property name="testBean" ref="tb" />
    </bean>
</beans>